@media (min-width: 769px) and (max-width: 950px) {
  body.fixed-body {
    overflow: hidden;
  }
  header.fixed h1,
  header.fixed .main-menu {
    width: 45px;
  }
  header h1,
  header .main-menu {
    width: 55px;
  }
  header a.main {
    display: block;
  }
  header nav {
    background-color: #fff;
    left: -100%;
    position: fixed;
    top: 30px;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  header nav.open-menu {
    left: 0;
  }
  header nav ul li {
    display: block;
  }
  .servicios ul li {
    margin-right: 2%;
    text-align: center;
    width: 30%;
  }
}
@media (max-width: 768px) {
  body.fixed-body {
    overflow: hidden;
  }
  h1 span {
    font-size: 1em;
  }
  header.fixed h1,
  header.fixed .main-menu {
    width: 45px;
  }
  header h1,
  header .main-menu {
    width: 50px;
  }
  header a.main {
    display: block;
  }
  header nav {
    background-color: #fff;
    bottom: 0;
    left: -100%;
    position: fixed;
    top: 30px;
    z-index: 9999;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  header nav.open-menu {
    left: 0;
  }
  header nav ul li {
    display: block;
  }
  header nav ul.sub-menu {
    display: block;
    position: static;
  }
  .principal p {
    padding-left: 0;
  }
  .banner-principal .cover-button {
    background-color: transparent;
    display: none;
  }
  .banner-principal .cover-button::after {
    display: none;
  }
  .bloque {
    margin-bottom: 20px;
  }
  .principal {
    margin-bottom: 50px;
  }
  .principal::before {
    background-position: center 98%;
    width: 100%;
    height: 100%;
  }
  .principal::after {
    width: 100%;
  }
  .servicios {
    padding: 60px 0 0;
  }
  .servicios h1 {
    font-size: 2.3em;
    text-align: left;
  }
  .servicios .button {
    float: none;
  }
  .servicios::before {
    display: none;
  }
  .servicios ul li {
    float: none;
  }
  .servicios ul li a {
    text-align: center;
    padding: 10px 20px;
  }
  .equipo .current .detalle-equipo h2 {
    font-size: 1.5em;
  }
  .deco-clientes {
    padding: 0;
    width: auto;
  }
  footer .address-zone::after {
    display: none;
  }
  footer .contact-form {
    padding: 20px;
  }
}
